<!DOCTYPE html>
<html>
<head>
    <title>simpe page</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div data-ver-role="hello-veronica" data-options='{ "hi": "Hello", "name": "Veronica!"  }'>
        <%= data.hi %> <%= data.name %>
        <button data-action="test">Test</button>
    </div>
    <div data-ver-role="hello-veronica" data-options='{ "hi": "Hello", "name": "Veronica22!"  }'>
        <%= data.hi %> <%= data.name %>
        <button data-action="test">Test Action</button>
        <button data-view="test">Test Action</button>
    </div>
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/underscore/underscore-min.js"></script>
    <script src="../../dist/veronica.js"></script>
    <script>
        // create app
        var app = veronica.createApp();

        // create view: test
        app.view.define({
            name: 'test',
            template: 'This is View'
        });

        // create widget: hello-veronica
        app.widget.register('hello-veronica', {
            defaults: {
                autoAction: true
            },
            testHandler: function () {
                this.window({
                    name: 'wnd_test',
                    el: '<div>hello</div><div class="footer">footer</div>',
                    footer: true,
                    options: {
                        drag: true
                    }
                });
            }
        });

        app.launch({ parse: true });

    </script>
</body>
</html>
