<!DOCTYPE html>
<html>
<head>
    <title>simpe page</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="../../bower_components/art-dialog/css/ui-dialog.css" rel="stylesheet" />
    <style>
        /*为了避免界面一开始闪烁*/
        [data-ver-role] {
            display: none;
        }
    </style>
</head>

<body>
    <div data-ver-role="hello-veronica" data-options='{ "hi": "Hello", "name": "Veronica!"  }'>
        <%= data.hi %> <%= data.name %>
        <button data-action="test">Test</button>
    </div>
    <div data-ver-role="hello-veronica" data-options='{ "hi": "Hello", "name": "Veronica22!"  }'>
        <%= data.hi %> <%= data.name %>
        <button data-action="test">Test Action</button>
        <button data-view="test">Test Call View</button>
    </div>
    <script src="../../bower_components/jquery/jquery.min.js"></script>
    <script src="../../bower_components/underscore/underscore-min.js"></script>
    <script src="../../bower_components/art-dialog/dist/dialog-plus.js"></script>
    <script src="../../dist/veronica.js"></script>
    <script>
        // 创建 app
        var app = veronica.createApp();

        // 创建 widget: hello-veronica
        app.widget.register('hello-veronica', function (options) {
            var app = options.sandbox.app;

            // 子View
            var TestView = app.view.define({
                name: 'test',
                template: 'This is View'
            });

            var View = app.view.define({
                defaults: {
                    autoAction: true
                },
                testHandler: function () {
                    this.window({
                        name: 'wnd_test',
                        el: '<div>hello</div><div class="footer">footer</div>',
                        footer: true,
                        options: {
                            drag: true
                        }
                    });
                }
            });

            var view = new View(options);
            view.show();
            return view;
        });
        app.launch().done(function () {
            // 解析界面
            app.parser.parse();
        });


    </script>
</body>
</html>
